In [39]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\meet patel\appdata\local\programs\python\python37-32\lib\site-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\meet patel\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.12.0 in c:\users\meet patel\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: pytz>=2011k in c:\users\meet patel\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (2019.1)
Requirement already satisfied: six>=1.5 in c:\users\meet patel\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [5]:
df = pd.read_csv('avocado.csv')

In [11]:
df.head(3)

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany

In [12]:
df.tail(3)

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [15]:
df['AveragePrice'].head()

0    1.33
1    1.35
2    0.93
3    1.08
4    1.28
Name: AveragePrice, dtype: float64

In [17]:
df.AveragePrice.tail()

18244    1.63
18245    1.71
18246    1.87
18247    1.93
18248    1.62
Name: AveragePrice, dtype: float64

In [22]:
Albany_df = df[df['region']=='Albany']
Albany_df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [23]:
Albany_df.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            17603, 17604, 17605, 17606, 17607, 17608, 17609, 17610, 17611,
            17612],
           dtype='int64', length=338)

In [24]:
Albany_df.set_index('Date')

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-12-27,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
2015-12-20,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
2015-12-13,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
2015-12-06,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
2015-11-29,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
2015-11-22,5,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.00,conventional,2015,Albany
2015-11-15,6,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00,conventional,2015,Albany
2015-11-08,7,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.00,conventional,2015,Albany
2015-11-01,8,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.00,conventional,2015,Albany
2015-10-25,9,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.00,conventional,2015,Albany
2015-10-18,10,1.12,84843.44,924.86,75595.85,117.07,8205.66,7877.86,327.80,0.00,conventional,2015,Albany
2015-10-11,11,1.28,64489.17,1582.03,52677.92,105.32,10123.90,9866.27,257.63,0.00,conventional,2015,Albany
2015-10-04,12,1.31,61007.10,2268.32,49880.67,101.36,8756.75,8379.98,376.77,0.00,conventional,2015,Albany
2015-09-27,13,0.99,106803.39,1204.88,99409.21,154.84,6034.46,5888.87,145.59,0.00,conventional,2015,Albany
2015-09-20,14,1.33,69759.01,1028.03,59313.12,150.50,9267.36,8489.10,778.26,0.00,conventional,2015,Albany
2015-09-13,15,1.28,76111.27,985.73,65696.86,142.00,9286.68,8665.19,621.49,0.00,conventional,2015,Albany
2015-09-06,16,1.11,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00,conventional,2015,Albany
2015-08-30,17,1.07,105693.84,689.01,94362.67,335.43,10306.73,10218.93,87.80,0.00,conventional,2015,Albany
2015-08-23,18,1.34,79992.09,733.16,67933.79,444.78,10880.36,10745.79,134.57,0.00,conventional,2015,Albany
2015-08-16,19,1.33,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,0.00,conventional,2015,Albany
2015-08-09,20,1.12,111140.93,584.63,100961.46,368.95,9225.89,9116.34,109.55,0.00,conventional,2015,Albany
2015-08-02,21,1.45,75133.10,509.94,62035.06,741.08,11847.02,11768.52,78.50,0.00,conventional,2015,Albany
2015-07-26,22,1.11,106757.10,648.75,91949.05,966.61,13192.69,13061.53,131.16,0.00,conventional,2015,Albany
2015-07-19,23,1.26,96617.00,1042.10,82049.40,2238.02,11287.48,11103.49,183.99,0.00,conventional,2015,Albany
2015-07-12,24,1.05,124055.31,672.25,94693.52,4257.64,24431.90,24290.08,108.49,33.33,conventional,2015,Albany
2015-07-05,25,1.35,109252.12,869.45,72600.55,5883.16,29898.96,29663.19,235.77,0.00,conventional,2015,Albany
2015-06-28,26,1.37,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00,conventional,2015,Albany
2015-06-21,27,1.27,104849.39,804.01,76688.55,5481.18,21875.65,21662.00,213.65,0.00,conventional,2015,Albany
2015-06-14,28,1.32,89631.30,850.58,55400.94,4377.19,29002.59,28343.14,659.45,0.00,conventional,2015,Albany
2015-06-07,29,1.07,122743.06,656.71,99220.82,90.32,22775.21,22314.99,460.22,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-04-30,35,1.74,3046.63,388.81,280.28,0.00,2377.54,2377.54,0.00,0.00,organic,2017,Albany
2017-04-23,36,1.92,2087.60,110.25,182.56,0.00,1794.79,1794.79,0.00,0.00,organic,2017,Albany
2017-04-16,37,1.85,2886.48,265.82,203.84,0.00,2416.82,2416.82,0.00,0.00,organic,2017,Albany
2017-04-09,38,1.92,2209.82,159.65,189.67,0.00,1860.50,1860.50,0.00,0.00,organic,2017,Albany
2017-04-02,39,1.86,3492.87,885.46,362.37,0.00,2245.04,2245.04,0.00,0.00,organic,2017,Albany
2017-03-26,40,2.02,2250.22,166.49,263.32,0.00,1820.41,1820.41,0.00,0.00,organic,2017,Albany
2017-03-19,41,1.87,2763.38,503.14,175.98,0.00,2084.26,2084.26,0.00,0.00,organic,2017,Albany
2017-03-12,42,1.97,2001.95,123.51,206.64,0.00,1671.80,1671.80,0.00,0.00,organic,2017,Albany
2017-03-05,43,1.84,2228.14,241.00,208.79,0.00,1778.35,1778.35,0.00,0.00,organic,2017,Albany
2017-02-26,44,1.71,2185.96,508.31,240.10,0.00,1437.55,1437.55,0.00,0.00,organic,2017,Albany
2017-02-19,45,1.67,2523.56,1049.50,141.41,0.00,1332.65,1332.65,0.00,0.00,organic,2017,Albany
2017-02-12,46,1.78,1806.40,119.52,170.57,0.00,1516.31,1516.31,0.00,0.00,organic,2017,Albany
2017-02-05,47,1.72,1753.35,26.75,223.33,0.00,1503.27,1503.27,0.00,0.00,organic,2017,Albany
2017-01-29,48,1.86,1795.81,32.53,123.14,0.00,1640.14,1640.14,0.00,0.00,organic,2017,Albany
2017-01-22,49,1.82,1897.07,78.83,128.24,0.00,1690.00,1690.00,0.00,0.00,organic,2017,Albany
2017-01-15,50,1.84,1982.65,82.30,328.02,0.00,1572.33,1572.33,0.00,0.00,organic,2017,Albany
2017-01-08,51,1.94,2229.52,63.46,478.31,0.00,1687.75,1687.75,0.00,0.00,organic,2017,Albany
2017-01-01,52,1.87,1376.70,71.65,192.63,0.00,1112.42,1112.42,0.00,0.00,organic,2017,Albany
2018-03-25,0,1.71,2321.82,42.95,272.41,0.00,2006.46,1996.46,10.00,0.00,organic,2018,Albany
2018-03-18,1,1.66,3154.45,275.89,297.96,0.00,2580.60,2577.27,3.33,0.00,organic,2018,Albany
2018-03-11,2,1.68,2570.52,131.67,229.56,0.00,2209.29,2209.29,0.00,0.00,organic,2018,Albany
2018-03-04,3,1.48,3851.30,311.55,296.77,0.00,3242.98,3239.65,3.33,0.00,organic,2018,Albany
2018-02-25,4,1.56,5356.63,816.56,532.59,0.00,4007.48,4007.48,0.00,0.00,organic,2018,Albany
2018-02-18,5,1.43,7566.17,4314.30,251.85,0.00,3000.02,3000.02,0.00,0.00,organic,2018,Albany
2018-02-11,6,1.43,3817.93,59.18,289.85,0.00,3468.90,3468.90,0.00,0.00,organic,2018,Albany
2018-02-04,7,1.52,4124.96,118.38,420.36,0.00,3586.22,3586.22,0.00,0.00,organic,2018,Albany
2018-01-28,8,1.32,6987.56,433.66,374.96,0.00,6178.94,6178.94,0.00,0.00,organic,2018,Albany
2018-01-21,9,1.54,3346.54,14.67,253.01,0.00,3078.86,3078.86,0.00,0.00,organic,2018,Albany
2018-01-14,10,1.47,4140.95,7.30,301.87,0.00,3831.78,3831.78,0.00,0.00,organic,2018,Albany
2018-01-07,11,1.54,4816.90,43.51,412.17,0.00,4361.22,4357.89,3.33,0.00,organic,2018,Albany

In [25]:
Albany_df

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
5,5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.00,conventional,2015,Albany
6,6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00,conventional,2015,Albany
7,7,2015-11-08,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.00,conventional,2015,Albany
8,8,2015-11-01,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.00,conventional,2015,Albany
9,9,2015-10-25,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.00,conventional,2015,Albany
10,10,2015-10-18,1.12,84843.44,924.86,75595.85,117.07,8205.66,7877.86,327.80,0.00,conventional,2015,Albany
11,11,2015-10-11,1.28,64489.17,1582.03,52677.92,105.32,10123.90,9866.27,257.63,0.00,conventional,2015,Albany
12,12,2015-10-04,1.31,61007.10,2268.32,49880.67,101.36,8756.75,8379.98,376.77,0.00,conventional,2015,Albany
13,13,2015-09-27,0.99,106803.39,1204.88,99409.21,154.84,6034.46,5888.87,145.59,0.00,conventional,2015,Albany
14,14,2015-09-20,1.33,69759.01,1028.03,59313.12,150.50,9267.36,8489.10,778.26,0.00,conventional,2015,Albany
15,15,2015-09-13,1.28,76111.27,985.73,65696.86,142.00,9286.68,8665.19,621.49,0.00,conventional,2015,Albany
16,16,2015-09-06,1.11,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00,conventional,2015,Albany
17,17,2015-08-30,1.07,105693.84,689.01,94362.67,335.43,10306.73,10218.93,87.80,0.00,conventional,2015,Albany
18,18,2015-08-23,1.34,79992.09,733.16,67933.79,444.78,10880.36,10745.79,134.57,0.00,conventional,2015,Albany
19,19,2015-08-16,1.33,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,0.00,conventional,2015,Albany
20,20,2015-08-09,1.12,111140.93,584.63,100961.46,368.95,9225.89,9116.34,109.55,0.00,conventional,2015,Albany
21,21,2015-08-02,1.45,75133.10,509.94,62035.06,741.08,11847.02,11768.52,78.50,0.00,conventional,2015,Albany
22,22,2015-07-26,1.11,106757.10,648.75,91949.05,966.61,13192.69,13061.53,131.16,0.00,conventional,2015,Albany
23,23,2015-07-19,1.26,96617.00,1042.10,82049.40,2238.02,11287.48,11103.49,183.99,0.00,conventional,2015,Albany
24,24,2015-07-12,1.05,124055.31,672.25,94693.52,4257.64,24431.90,24290.08,108.49,33.33,conventional,2015,Albany
25,25,2015-07-05,1.35,109252.12,869.45,72600.55,5883.16,29898.96,29663.19,235.77,0.00,conventional,2015,Albany
26,26,2015-06-28,1.37,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00,conventional,2015,Albany
27,27,2015-06-21,1.27,104849.39,804.01,76688.55,5481.18,21875.65,21662.00,213.65,0.00,conventional,2015,Albany
28,28,2015-06-14,1.32,89631.30,850.58,55400.94,4377.19,29002.59,28343.14,659.45,0.00,conventional,2015,Albany
29,29,2015-06-07,1.07,122743.06,656.71,99220.82,90.32,22775.21,22314.99,460.22,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14776,35,2017-04-30,1.74,3046.63,388.81,280.28,0.00,2377.54,2377.54,0.00,0.00,organic,2017,Albany
14777,36,2017-04-23,1.92,2087.60,110.25,182.56,0.00,1794.79,1794.79,0.00,0.00,organic,2017,Albany
14778,37,2017-04-16,1.85,2886.48,265.82,203.84,0.00,2416.82,2416.82,0.00,0.00,organic,2017,Albany
14779,38,2017-04-09,1.92,2209.82,159.65,189.67,0.00,1860.50,1860.50,0.00,0.00,organic,2017,Albany
14780,39,2017-04-02,1.86,3492.87,885.46,362.37,0.00,2245.04,2245.04,0.00,0.00,organic,2017,Albany
14781,40,2017-03-26,2.02,2250.22,166.49,263.32,0.00,1820.41,1820.41,0.00,0.00,organic,2017,Albany
14782,41,2017-03-19,1.87,2763.38,503.14,175.98,0.00,2084.26,2084.26,0.00,0.00,organic,2017,Albany
14783,42,2017-03-12,1.97,2001.95,123.51,206.64,0.00,1671.80,1671.80,0.00,0.00,organic,2017,Albany
14784,43,2017-03-05,1.84,2228.14,241.00,208.79,0.00,1778.35,1778.35,0.00,0.00,organic,2017,Albany
14785,44,2017-02-26,1.71,2185.96,508.31,240.10,0.00,1437.55,1437.55,0.00,0.00,organic,2017,Albany
14786,45,2017-02-19,1.67,2523.56,1049.50,141.41,0.00,1332.65,1332.65,0.00,0.00,organic,2017,Albany
14787,46,2017-02-12,1.78,1806.40,119.52,170.57,0.00,1516.31,1516.31,0.00,0.00,organic,2017,Albany
14788,47,2017-02-05,1.72,1753.35,26.75,223.33,0.00,1503.27,1503.27,0.00,0.00,organic,2017,Albany
14789,48,2017-01-29,1.86,1795.81,32.53,123.14,0.00,1640.14,1640.14,0.00,0.00,organic,2017,Albany
14790,49,2017-01-22,1.82,1897.07,78.83,128.24,0.00,1690.00,1690.00,0.00,0.00,organic,2017,Albany
14791,50,2017-01-15,1.84,1982.65,82.30,328.02,0.00,1572.33,1572.33,0.00,0.00,organic,2017,Albany
14792,51,2017-01-08,1.94,2229.52,63.46,478.31,0.00,1687.75,1687.75,0.00,0.00,organic,2017,Albany
14793,52,2017-01-01,1.87,1376.70,71.65,192.63,0.00,1112.42,1112.42,0.00,0.00,organic,2017,Albany
17601,0,2018-03-25,1.71,2321.82,42.95,272.41,0.00,2006.46,1996.46,10.00,0.00,organic,2018,Albany
17602,1,2018-03-18,1.66,3154.45,275.89,297.96,0.00,2580.60,2577.27,3.33,0.00,organic,2018,Albany
17603,2,2018-03-11,1.68,2570.52,131.67,229.56,0.00,2209.29,2209.29,0.00,0.00,organic,2018,Albany
17604,3,2018-03-04,1.48,3851.30,311.55,296.77,0.00,3242.98,3239.65,3.33,0.00,organic,2018,Albany
17605,4,2018-02-25,1.56,5356.63,816.56,532.59,0.00,4007.48,4007.48,0.00,0.00,organic,2018,Albany
17606,5,2018-02-18,1.43,7566.17,4314.30,251.85,0.00,3000.02,3000.02,0.00,0.00,organic,2018,Albany
17607,6,2018-02-11,1.43,3817.93,59.18,289.85,0.00,3468.90,3468.90,0.00,0.00,organic,2018,Albany
17608,7,2018-02-04,1.52,4124.96,118.38,420.36,0.00,3586.22,3586.22,0.00,0.00,organic,2018,Albany
17609,8,2018-01-28,1.32,6987.56,433.66,374.96,0.00,6178.94,6178.94,0.00,0.00,organic,2018,Albany
17610,9,2018-01-21,1.54,3346.54,14.67,253.01,0.00,3078.86,3078.86,0.00,0.00,organic,2018,Albany
17611,10,2018-01-14,1.47,4140.95,7.30,301.87,0.00,3831.78,3831.78,0.00,0.00,organic,2018,Albany
17612,11,2018-01-07,1.54,4816.90,43.51,412.17,0.00,4361.22,4357.89,3.33,0.00,organic,2018,Albany

In [26]:
Albany_df = Albany_df.set_index('Date')

In [28]:
Albany_df.head()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-12-27,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [42]:
Albany_df.plot()

ImportError: matplotlib is required for plotting.